body .mocha .dark {
  accent-color: #cba6f7;
  --color-primary: #cba6f7;
  --color-primary-contrast: #11111b;
  --color-primary-dark-1: #c398f6;
  --color-primary-dark-2: #bb8af4;
  --color-primary-dark-3: #b27cf3;
  --color-primary-dark-4: #aa6ef2;
  --color-primary-dark-5: #a260f1;
  --color-primary-dark-6: #9a52ef;
  --color-primary-dark-7: #9244ee;
  --color-primary-light-1: #d3b4f8;
  --color-primary-light-2: #dbc2fa;
  --color-primary-light-3: #e4d0fb;
  --color-primary-light-4: #ecdefc;
  --color-primary-light-5: #f4ecfd;
  --color-primary-light-6: #fcfaff;
  --color-primary-light-7: white;
  --color-primary-alpha-10: rgba(203, 166, 247, 0.1);
  --color-primary-alpha-20: rgba(203, 166, 247, 0.2);
  --color-primary-alpha-30: rgba(203, 166, 247, 0.3);
  --color-primary-alpha-40: rgba(203, 166, 247, 0.4);
  --color-primary-alpha-50: rgba(203, 166, 247, 0.5);
  --color-primary-alpha-60: rgba(203, 166, 247, 0.6);
  --color-primary-alpha-70: rgba(203, 166, 247, 0.7);
  --color-primary-alpha-80: rgba(203, 166, 247, 0.8);
  --color-primary-alpha-90: rgba(203, 166, 247, 0.9);
  --color-secondary: #45475a;
  --color-secondary-dark-1: #37394d;
  --color-secondary-dark-2: #3e3f56;
  --color-secondary-dark-3: #44465f;
  --color-secondary-dark-4: #4b4c68;
  --color-secondary-dark-5: #515370;
  --color-secondary-dark-6: #575979;
  --color-secondary-dark-7: #5e6082;
  --color-secondary-dark-8: #64668b;
  --color-secondary-dark-9: #6b6d94;
  --color-secondary-dark-10: #74769a;
  --color-secondary-dark-11: #7c7ea1;
  --color-secondary-dark-12: #8587a7;
  --color-secondary-dark-13: #8e90ae;
  --color-secondary-light-1: #2b2b3b;
  --color-secondary-light-2: #242532;
  --color-secondary-light-3: #1e1e29;
  --color-secondary-light-4: #171820;
  --color-secondary-alpha-10: rgba(49, 50, 68, 0.1);
  --color-secondary-alpha-20: rgba(49, 50, 68, 0.2);
  --color-secondary-alpha-30: rgba(49, 50, 68, 0.3);
  --color-secondary-alpha-40: rgba(49, 50, 68, 0.4);
  --color-secondary-alpha-50: rgba(49, 50, 68, 0.5);
  --color-secondary-alpha-60: rgba(49, 50, 68, 0.6);
  --color-secondary-alpha-70: rgba(49, 50, 68, 0.7);
  --color-secondary-alpha-80: rgba(49, 50, 68, 0.8);
  --color-secondary-alpha-90: rgba(49, 50, 68, 0.9);
  /* colors */
  --color-red: #f38ba8;
  --color-orange: #fab387;
  --color-yellow: #f9e2af;
  --color-olive: #a6e3a1;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-blue: #89b4fa;
  --color-violet: #b4befe;
  --color-purple: #cba6f7;
  --color-pink: #f5c2e7;
  --color-brown: #f2cdcd;
  --color-grey: #9399b2;
  --color-black: #181825;
  /* light variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-light: #ee5d85;
  --color-orange-light: #f89456;
  --color-yellow-light: #f5d180;
  --color-olive-light: #81d77a;
  --color-green-light: #81d77a;
  --color-teal-light: #6cd7c5;
  --color-blue-light: #5895f8;
  --color-violet-light: #8292fd;
  --color-purple-light: #b077f3;
  --color-pink-light: #ee96d6;
  --color-brown-light: #e7a5a5;
  --color-grey-light: #757d9d;
  --color-black-light: #040406;
  /* other colors */
  --color-gold: #f5e0dc;
  --color-white: #cdd6f4;
  --color-diff-removed-word-bg: rgba(243, 139, 168, 0.15);
  --color-diff-added-word-bg: rgba(166, 227, 161, 0.15);
  --color-diff-removed-row-bg: rgba(243, 139, 168, 0.07);
  --color-diff-moved-row-bg: rgba(249, 226, 175, 0.07);
  --color-diff-added-row-bg: rgba(166, 227, 161, 0.07);
  --color-diff-removed-row-border: rgba(243, 139, 168, 0.07);
  --color-diff-moved-row-border: rgba(249, 226, 175, 0.07);
  --color-diff-added-row-border: rgba(166, 227, 161, 0.07);
  --color-diff-inactive: #9399b2;
  --color-error-border: #f38ba8;
  --color-error-bg: #f38ba8;
  --color-error-bg-active: #f17497;
  --color-error-bg-hover: #ee5d85;
  --color-error-text: #11111b;
  --color-success-border: #81d77a;
  --color-success-bg: #a6e3a1;
  --color-success-text: #11111b;
  --color-warning-border: #f5d180;
  --color-warning-bg: #f9e2af;
  --color-warning-text: #11111b;
  --color-info-border: #5895f8;
  --color-info-bg: #11111b;
  --color-info-text: #cdd6f4;
  --color-red-badge: #ee5d85;
  --color-red-badge-bg: #11111b;
  --color-red-badge-hover-bg: #f17497;
  --color-green-badge: #a6e3a1;
  --color-green-badge-bg: #a6e3a1;
  --color-green-badge-hover-bg: #93dd8d;
  --color-yellow-badge: #f9e2af;
  --color-yellow-badge-bg: #11111b;
  --color-yellow-badge-hover-bg: #f7d997;
  --color-orange-badge: #fab387;
  --color-orange-badge-bg: #11111b;
  --color-orange-badge-hover-bg: #f9a36f;
  --color-git: #fab387;
  /* target-based colors */
  --color-body: #11111b;
  --color-box-header: #181825;
  --color-box-body: #181825;
  --color-box-body-highlight: #313244;
  --color-text-dark: #a6adc8;
  --color-text: #cdd6f4;
  --color-text-light: #bac2de;
  --color-text-light-1: #bac2de;
  --color-text-light-2: #bac2de;
  --color-text-light-3: #bac2de;
  --color-footer: #181825;
  --color-timeline: #313244;
  --color-input-text: #cdd6f4;
  --color-input-background: #313244;
  --color-input-toggle-background: #313244;
  --color-input-border: #45475a;
  --color-input-border-hover: #585b70;
}