body .mauve .light {
  accent-color: #ca9ee6;
  --color-primary: #ca9ee6;
  --color-primary-contrast: #232634;
  --color-primary-dark-1: #c392e3;
  --color-primary-dark-2: #bd86e0;
  --color-primary-dark-3: #b67add;
  --color-primary-dark-4: #af6dd9;
  --color-primary-dark-5: #a961d6;
  --color-primary-dark-6: #a255d3;
  --color-primary-dark-7: #9b49d0;
  --color-primary-light-1: #d1aae9;
  --color-primary-light-2: #d7b6ec;
  --color-primary-light-3: #dec2ef;
  --color-primary-light-4: #e5cff3;
  --color-primary-light-5: #ebdbf6;
  --color-primary-light-6: #f2e7f9;
  --color-primary-light-7: #f9f3fc;
  --color-primary-alpha-10: rgba(202, 158, 230, 0.1);
  --color-primary-alpha-20: rgba(202, 158, 230, 0.2);
  --color-primary-alpha-30: rgba(202, 158, 230, 0.3);
  --color-primary-alpha-40: rgba(202, 158, 230, 0.4);
  --color-primary-alpha-50: rgba(202, 158, 230, 0.5);
  --color-primary-alpha-60: rgba(202, 158, 230, 0.6);
  --color-primary-alpha-70: rgba(202, 158, 230, 0.7);
  --color-primary-alpha-80: rgba(202, 158, 230, 0.8);
  --color-primary-alpha-90: rgba(202, 158, 230, 0.9);
  --color-secondary: #51576d;
  --color-secondary-dark-1: #474c62;
  --color-secondary-dark-2: #4e536b;
  --color-secondary-dark-3: #545a74;
  --color-secondary-dark-4: #5b607c;
  --color-secondary-dark-5: #616785;
  --color-secondary-dark-6: #686e8e;
  --color-secondary-dark-7: #6f7696;
  --color-secondary-dark-8: #787e9c;
  --color-secondary-dark-9: #8187a3;
  --color-secondary-dark-10: #8a8fa9;
  --color-secondary-dark-11: #9397b0;
  --color-secondary-dark-12: #9ba0b6;
  --color-secondary-dark-13: #a4a8bd;
  --color-secondary-light-1: #3b3e50;
  --color-secondary-light-2: #343747;
  --color-secondary-light-3: #2e303e;
  --color-secondary-light-4: #272a36;
  --color-secondary-alpha-10: rgba(65, 69, 89, 0.1);
  --color-secondary-alpha-20: rgba(65, 69, 89, 0.2);
  --color-secondary-alpha-30: rgba(65, 69, 89, 0.3);
  --color-secondary-alpha-40: rgba(65, 69, 89, 0.4);
  --color-secondary-alpha-50: rgba(65, 69, 89, 0.5);
  --color-secondary-alpha-60: rgba(65, 69, 89, 0.6);
  --color-secondary-alpha-70: rgba(65, 69, 89, 0.7);
  --color-secondary-alpha-80: rgba(65, 69, 89, 0.8);
  --color-secondary-alpha-90: rgba(65, 69, 89, 0.9);
  /* colors */
  --color-red: #e78284;
  --color-orange: #ef9f76;
  --color-yellow: #e5c890;
  --color-olive: #a6d189;
  --color-green: #a6d189;
  --color-teal: #81c8be;
  --color-blue: #8caaee;
  --color-violet: #babbf1;
  --color-purple: #ca9ee6;
  --color-pink: #f4b8e4;
  --color-brown: #eebebe;
  --color-grey: #949cbb;
  --color-black: #292c3c;
  /* light variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-light: #df575a;
  --color-orange-light: #ea7f48;
  --color-yellow-light: #dbb467;
  --color-olive-light: #8ac364;
  --color-green-light: #8ac364;
  --color-teal-light: #5db9ac;
  --color-blue-light: #6089e7;
  --color-violet-light: #9091e8;
  --color-purple-light: #b475dc;
  --color-pink-light: #ed8cd3;
  --color-brown-light: #e39696;
  --color-grey-light: #757fa7;
  --color-black-light: #14161e;
  /* other colors */
  --color-gold: #f2d5cf;
  --color-white: #c6d0f5;
  --color-diff-removed-word-bg: rgba(231, 130, 132, 0.15);
  --color-diff-added-word-bg: rgba(166, 209, 137, 0.15);
  --color-diff-removed-row-bg: rgba(231, 130, 132, 0.07);
  --color-diff-moved-row-bg: rgba(229, 200, 144, 0.07);
  --color-diff-added-row-bg: rgba(166, 209, 137, 0.07);
  --color-diff-removed-row-border: rgba(231, 130, 132, 0.07);
  --color-diff-moved-row-border: rgba(229, 200, 144, 0.07);
  --color-diff-added-row-border: rgba(166, 209, 137, 0.07);
  --color-diff-inactive: #949cbb;
  --color-error-border: #e78284;
  --color-error-bg: #e78284;
  --color-error-bg-active: #e36d6f;
  --color-error-bg-hover: #df575a;
  --color-error-text: #232634;
  --color-success-border: #8ac364;
  --color-success-bg: #a6d189;
  --color-success-text: #232634;
  --color-warning-border: #dbb467;
  --color-warning-bg: #e5c890;
  --color-warning-text: #232634;
  --color-info-border: #6089e7;
  --color-info-bg: #232634;
  --color-info-text: #c6d0f5;
  --color-red-badge: #df575a;
  --color-red-badge-bg: #232634;
  --color-red-badge-hover-bg: #e36d6f;
  --color-green-badge: #a6d189;
  --color-green-badge-bg: #a6d189;
  --color-green-badge-hover-bg: #98ca77;
  --color-yellow-badge: #e5c890;
  --color-yellow-badge-bg: #232634;
  --color-yellow-badge-hover-bg: #e0be7b;
  --color-orange-badge: #ef9f76;
  --color-orange-badge-bg: #232634;
  --color-orange-badge-hover-bg: #ec8f5f;
  --color-git: #ef9f76;
  /* target-based colors */
  --color-body: #232634;
  --color-box-header: #292c3c;
  --color-box-body: #292c3c;
  --color-box-body-highlight: #414559;
  --color-text-dark: #a5adce;
  --color-text: #c6d0f5;
  --color-text-light: #b5bfe2;
  --color-text-light-1: #b5bfe2;
  --color-text-light-2: #b5bfe2;
  --color-text-light-3: #b5bfe2;
  --color-footer: #292c3c;
  --color-timeline: #414559;
  --color-input-text: #c6d0f5;
  --color-input-background: #414559;
  --color-input-toggle-background: #414559;
  --color-input-border: #51576d;
  --color-input-border-hover: #626880;
}